<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style lang="postcss">
      @import '/src/styles/main.css';
    </style>

    <style lang="postcss">
      body {
        @apply font-sans;
      }

      h1[role='heading'] {
        @apply my-8 text-4xl font-bold;
        @apply mt-8 mb-12 text-brand-turquoise text-4xl font-serif;
      }

      .main {
        input:not([type='submit']) {
          @apply p-2 rounded border-2 border-brand-turquoise/75 shadow-sm;
          @apply focus:ring focus:ring-brand-turquoise/50;
          @apply disabled:border-slate-500/75;
        }

        input:is([type='text'], [type='email'], [type='password']) {
          @apply w-[clamp(10rem,100%,25rem)];
        }

        a {
          @apply text-brand-turquoise/90 hover:underline hover:text-brand-turquoise;
        }

        ._heading {
          @apply mt-8 mb-12 text-brand-turquoise text-4xl font-serif;
        }
      }
    </style>

    <block name="head"></block>
  </head>
  <body>
    <div class="flex flex-col justify-start w-full h-full min-h-lvh">
      <header
        class="pt-1 pb-2 px-4 border-solid border-t-8 border-b-4 border-[#008DAB]"
      >
        <div class="container mx-auto">
          <a href="https://www.unity.org" class="inline-block m-2 ml-0">
            <img
              alt="Unity Logo"
              class="h-16"
              src="https://raw.githubusercontent.com/tgdcom/unity-sso-templates/main/templates/logo-300px.png"
            />
          </a>
        </div>
      </header>
      <div class="grow flex px-4">
        <div class="container grow flex mx-auto" role="presentation">
          <block name="body"></block>
        </div>
      </div>
    </div>
  </body>
</html>
